###cr_api###
# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
cr_api/cr_api_service/[Dd]ebug/
cr_api/cr_api_service/[Dd]ebugPublic/
cr_api/cr_api_service/[Rr]elease/
cr_api/cr_api_service/[Rr]eleases/
cr_api/cr_api_service/x64/
cr_api/cr_api_service/x86/
cr_api/cr_api_service/bld/
cr_api/cr_api_service/[Bb]in/
cr_api/cr_api_service/[Oo]bj/
cr_api/cr_api_service/[Ll]og/

# Visual Studio 2019 cache/options directory
cr_api/.vs/

#Bin folder
cr_api/cr_api_service/bin/

###cr_client###
cr_client/node_modules/
#dist folder
cr_client/dist/